/* general */
:root {
  background-image: url('./assests/images/bg.jpg');
  position: fixed;
  background-size: cover;
  height: 100%;
}


/* Home */
.homePage {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.homePage img {
  z-index: 2;
  width: 20%;
  min-width: 200px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  display: block;
}

.homePage h1 {
  text-align: center;
}
/* end of home */

/* Navbar */
.navDiv {
  width: 90%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  height: 90px;
  background-color: rgba(2, 42, 240, 0.912);
  display: flex;
  border-radius: 3px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.navDiv h2 {
  position: absolute;
  padding: 20px;
  color: white;
}

nav {
  width: 100%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;  
  display: flex;
  justify-content: center;
}

nav li {
  display: inline-block;
  padding: 16px;
}

nav li a {
  display: flex;
  padding: 8px;
  color: rgb(255, 255, 255);
  text-decoration: underline;
  font-size: 21px;
}

nav li a:hover {
color: #fff700;
}


.logSign {
justify-content: right;
align-items: right;
position: sticky;
}

.navbar li a.active {
color: #fff700;
background-color: #ff00001d;
}

@media screen and (max-width: 600px) {
  nav {
    height: 130px;
    padding: 1px;
    padding-left: 10px;
  }
  li{
    padding: 4px;
  }
  .logSign {
    margin-top: 20px;
  }
}

/* end of Navbar */

/* Footer */
.footer {
  margin-top: 130px;
  background-color: rgba(0, 0, 0, 0.815);
  color: white;
  padding: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 70px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer a {
  color: white;
}

#footerPhone {
  float: left;
}

#footerEmail {
  float: right;
}